html, body {
	background-color: black;
	/* color: white; */
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	/* line-height: 1.5; */
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body * {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	/* max-width: 768px; */
	/* padding: 20px 5%;  */
}

#footer {
	padding: 5px 25px;
}

#errorsheader, #warningsheader{
	display: none
}

.error, .warning {
	color: black;
	padding: 10px;
	border-radius: 20px;
}

.error {
	background: rgb(255, 205, 205);
}

.warning {
	background: rgb(255, 245, 205);
}

#inneroverlay {
	width: 100%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	font-size:170%;
	font-weight: bold;
	font-family: sans-serif;
	padding: 50px;
}

visualscript-loader {
	width: 100%;
}

visualscript-nav {
	line-height: 1.0;
}

visualscript-nav span {
	text-transform: uppercase;
	font-size: 125%;
}

visualscript-nav small {
	font-weight: normal;
	font-size: 65%;
}


/* visualscript-sidebar h4 {
	padding: 5px 15px;
} */

visualscript-sidebar .container {
	padding: 5px 15px;
	/* max-width: 400px; */
}

/* visualscript-main {
	background-color: #171717;
} */

h1, h2 {
	text-transform: uppercase;
}

h2 {
	margin-top: 40px;
}

h2:first-of-type {
	margin-top: 20px;
}

.logo {
	display: block;
}

img {
	height: auto;
	max-width: 100%;
}

/* NEED TO BOUND THE SECTION TO 100% */
section {
	padding: 25px;
	box-sizing: border-box;
	overflow: scroll;
	width: 100%;
	height: 100%;
}

.logo img {
	width: 500px;
}

@media all and (max-width: 768px) {
	.logo img {
		width: 450px;
	}
}

@media all and (max-width: 479px) {
	.logo img {
		width: 350px;
	}
}

.icon.heart {
	color: lightcoral;
}

a {
	color: #1ea7fd;
	font-weight: bold;
}

a:hover, a:active {
	color: #1892de;
}

a code {
	color: black;
}

code {
	background-color: #1ea7fd;
	color: black;
	font-family: monospace;
	padding: 1px;
	user-select: all;
}

code.image {
	background-color: lightyellow;
}